*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 80%;
    margin: auto;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
}
ul li{
    margin-left: 30px;
}
span{
    margin-left: 40%;
    font-size: 30px;
}